*
{
    /* border: 1px solid black; */
    padding: 5px;
}

html
{
    margin: 0;
    padding: 0;
}

body 
{
    background-color: rgb(255, 58, 58);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 50px 0 50px;
    margin: 0;
}


.detail
{
    color: rgb(77, 77, 77);
    text-align: center;
    background-color: rgb(38, 38, 38);
    max-width: 100%;
    width: 200px;
    height: 50px;
    margin: 0;
}

#container
{
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    max-width: 100%;
    width: 1200px;
    margin: 0;
    padding: 0;
}

.pokemon-container
{
    background-color: rgb(230, 250, 255);
    text-align: center;
    padding: 70px 30px 70px 30px;
    border-radius: 20px;
    display:flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    width: 100%;
}

.pokemon
{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.3);
    margin: 10px;
    padding: 0px;
    text-align: center;
    
}

.pokemon .img-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
}

.pokemon .img-container .img-size
{
    width: 180px;
    height: 105px;
    margin: 20px;
    padding: 0;
}

.pokemon .img-container .img-size > img
{
    max-width: 80%;
    margin: 0;
}

.pokemon-info
{
    background-color: #fff;
    margin: 0;
    padding: 30px;
    border-radius: 10px;
}

.pokemon-number
{
    background-color: rgba(100, 100, 100, 0.2);
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 0.8em;
}

.pokemon-name
{
    letter-spacing: 1px;
    margin: 10px 0 0 0;
    text-transform: capitalize;
}

.pokemon-type
{
    text-transform: capitalize;
}

#form
{
    margin: 0 0 10px 0;
    padding: 0;
    width: 100%;
    height: 50px;
    max-width: 700px;
    display: flex;
    align-items: space-between;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(100, 100, 100, 0.05)

}

#searchBar 
{
    width: 80%;
    height: auto;
    display: block;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1rem;
    background-color: rgb(38, 38, 38);
    color: seashell;
    border-radius: 10px 0 0 10px;
}

#form > button
{
    width: 20%;
    height: auto;
    display: block;
    border: none;
    outline: none;
    padding: 1rem;
    font-size: 1rem;
    background-color: rgb(51, 51, 51);
    color: seashell;
    border-radius: 0 10px 10px 0;
}